@model CVOIS.Models.SuperAdmin.SuperAdminViewModel

@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    // var username = Context.Session.GetString("Username");
}

@* Appointing Authority modal open button *@
<div class="d-flex justify-content-between align-items-center mb-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#appointingauthorityModal">
        <i class="fa fa-plus"></i> Add Appointing Authority
    </button>
    <h3>Appointing Authority List</h3>
    <div class="d-flex align-items-center gap-2 ms-auto">
    </div>
</div>


@* Appointing Authority Modal *@
<div class="modal fade" id="appointingauthorityModal" tabindex="-1" role="dialog" aria-labelledby="appointingauthorityLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="appointingauthorityForm">
                <div class="modal-header">
                    <h5 class="modal-title">Add Appointing Authority</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-row row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="AppointingAuthority.AppointingAuthority_Code" class="control-label"></label>
                                <input asp-for="AppointingAuthority.AppointingAuthority_Code" class="form-control" id="AppointingAuthority_Code" placeholder="Appointing Authority Code" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="AppointingAuthority.APPOINTING_AUTHORITY" class="control-label"></label>
                                <input asp-for="AppointingAuthority.APPOINTING_AUTHORITY" class="form-control" id="AppointingAuthority_Name" placeholder="Appointing Authority" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSaveAppointingAuthority" onclick="SaveAppointingAuthority()">
                        Submit
                    </button>
                    @* <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> *@
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="resetModalForm()">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Appointing Authority table *@
@Html.Partial("_AppointingAuthorityTable.cshtml")



@* ----------Script start from here---------*@

@* Save Appointing Authority Data *@
<script>
    function SaveAppointingAuthority() {
        let AP_Code = $("#AppointingAuthority_Code").val().trim();
        let AP_Name = $("#AppointingAuthority_Name").val().trim();

        // Collect validation errors
        let errorMessage = "";

        if (!AP_Code && !AP_Name) {
            errorMessage = "All fields are required.";
        }
        else if (!AP_Code) {
            errorMessage = "Please enter the Appointing Authority Code.";
        }
        else if (!AP_Name) {
            errorMessage = "Please enter the Appointing Authority  Name.";
        }
        if (errorMessage) {
            Swal.fire({
                icon: 'warning',
                title: errorMessage,
                confirmButtonColor: '#d33'
            });
            return;
        }


        Swal.fire({
            title: "Do you want to save the record?",
            icon: "question",
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: "Save",
            denyButtonText: `Don't save`
        }).then((result) => {
            if (result.isConfirmed) {

                $('#btnSaveAppointingAuthority').prop('disabled', true).text("Submitting...");

                $.ajax({
                    type: 'POST',
                    url: '/SuperAdmin/AppointingAuthority',
                    data: {
                        'AppointingAuthority.AppointingAuthority_Code': AP_Code,
                        'AppointingAuthority.APPOINTING_AUTHORITY': AP_Name
                    },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Appointing Authority added successfully.',
                                confirmButtonColor: '#3085d6'
                            }).then(() => {
                                $('#appointingauthorityLabel').modal('hide');
                                $('#appointingauthorityForm')[0].reset();
                                location.reload();
                            });
                        }
                        else if (response.duplicate_AppointingAuthority_message) {
                            Swal.fire({
                                icon: 'warning',
                                title: response.duplicate_AppointingAuthority_message,
                                confirmButtonColor: '#d33'
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: response.error_AppointingAuthority_message,
                                confirmButtonColor: '#d33'
                            });
                        }
                    },
                    error: function (response) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops!',
                            text: 'Something went wrong. Please try again.',
                            confirmButtonColor: '#d33'
                        });
                    },
                    complete: function () {
                        $('#btnSaveAppointingAuthority').prop('disabled', false).text("Submit");
                    }
                });

            }
        });


    }
</script>

@* Delete Appointing Authority Data Confirmation*@
<script>
    function confirmDelete(deleteUrl) {
        Swal.fire({
            title: 'Are you sure?',
            text: "This action cannot be undone!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = deleteUrl;
            }
        });
    }
</script>

@* Delete Appointing Authority Data  *@
<script>
    $(document).ready(function () {
        var AppointingAuthoritysuccessMessage = '@TempData["Delete_Appointing_Authority_Message"]';
        var AppointingAuthorityerrorMessage = '@TempData["Failed_Appointing_Authority_Message"]';

        if (AppointingAuthoritysuccessMessage) {
            Swal.fire({
                title: "Deleted!",
                text: AppointingAuthoritysuccessMessage,
                icon: "success",
                confirmButtonText: "OK"
            });
        }

        if (AppointingAuthorityerrorMessage) {
            Swal.fire({
                title: "Error!",
                text: AppointingAuthorityerrorMessage,
                icon: "error",
                confirmButtonText: "OK"
            });
        }
    });
</script>

@* Reset Form *@
<script>
    function resetModalForm() {
        document.getElementById("appointingauthorityForm").reset();
    }
</script>