

/*SuperAdmin*/
.navbar-nav .nav-link:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: 0.3s ease;
}


.table-wrapper {
    overflow-y: auto;
    border-radius: 5px;
}

/* Table Styles */
.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

    .table td,
    .table th {
        vertical-align: middle;
        white-space: nowrap;
    }

.table-header th {
    position: sticky;
    top: 0;
    background-color: #0096FF;
    color: #fff;
    z-index: 2;
}

/* Button Styles */
.btn {
    transition: all 0.3s ease;
}

    .btn:hover {
        opacity: 0.9;
    }

.btn-sm {
    padding: 4px 10px;
    font-size: 14px;
}

/* Modal Borders */
.modal-header {
    border-bottom: 1px solid #dee2e6;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}

/* Responsive Tweaks */
@media (max-width: 768px) {
    .table th,
    .table td {
        font-size: 14px;
    }

    .btn-sm {
        padding: 4px 8px;
        font-size: 12px;
    }
}


/*reset password button css start*/
.btn-spacing {
    margin-left: 10px;
}
/*reset password button css end*/
